
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: 999;

    &.active {
        visibility: visible;
        opacity: 1;
      }
}

.content {
    padding:20px;
    color:grey;
}

.d-none {
    display: none;
}
  
.popup {
    margin: 2% auto;
    padding: 20px;
    background: $white;    
    width: 90%;
    position: relative;
    transition: all 2s ease-in-out;
    color: #fff;
    display: block;
    overflow-y: auto;
    height: 90%;
    border-radius: 25px;

    @include breakpoint(xs) {
      width: 100%;
    }

    @include breakpoint(sm) {
      width: 100%
    }
    
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        &:hover {
            color: #06D85F;
          }
    }
    .content {
        max-height: 30%;
        overflow: auto;
    }
}
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }