<!-- we accounted for the background twice -->
<!-- <div class="background"></div> -->

<div class="leaderboard__overlay">            
    <div class="leaderboard">              
        
        <div class="leaderboard__header">
            <h1 class="leaderboard__title">Leaderboard</h1>
            <div class="leaderboard__exit">Exit</div>
        </div>                 

        <div class="leaderboard__rankings">

            <div class="leaderboard__heading">
                <span class="leaderboard__rank">Rank</span>
                <span class="leaderboard__points">Points</span>
            </div>

            <div class="leaderboard__player">
                <div class="player player--blue">
                    <div class="player__rank">1</div>
                    <div class="player__thumbnail"></div>
                    <h2 class="player__names">Marta + Emma</h2>
                    <div class="player__points">33</div>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player player--green">
                    <div class="player__rank">2</div>
                    <div class="player__thumbnail"></div>
                    <h2 class="player__names">Dominique + Elijah</h2>
                    <div class="player__points">30</div>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player player--yellow">
                    <div class="player__rank">3</div>
                    <div class="player__thumbnail"></div>
                    <h2 class="player__names">Kaleb + Cherish</h2>
                    <div class="player__points">30</div>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player player--orange">
                    <div class="player__rank">4</div>
                    <!-- Added background images temporarily-->
                    <div class="player__thumbnail"></div>
                    <h2 class="player__names">Luke + Dave</h2>
                    <div class="player__points">23</div>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player player--pink">
                    <div class="player__rank">5</div>
                    <div class="player__thumbnail"></div>
                    <h2 class="player__names">Players Name</h2>                    
                    <div class="player__points">21</div>
                </div>
            </div>
            
        </div>

        <div class="leaderboard__sidebar">
            <div class="leaderboard__cities">
                <div class="leaderboard__city--yellow checkmark">Bangalore</div>
                <div class="leaderboard__city--pink checkmark">Kolkata</div>
                <div class="leaderboard__city--blue">New Dehli</div>
                <div class="leaderboard__city--green">Mumbai</div>
            </div>
            <div class="leaderboard__next bounce-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 305 104">
                    <defs>
                        <style>.cls-1{isolation:isolate;}.cls-2{opacity:0.75;mix-blend-mode:multiply;}.cls-3{fill:#00b0ea;}.cls-4{font-size:38.38px;fill:#fff;font-family:PermanentMarker-Regular, PermanentMarker Regular;}.cls-5{letter-spacing:0.01em;}.cls-6{letter-spacing:0em;}.cls-7{letter-spacing:0.03em;}</style>
                    </defs>
                    <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
                        <feOffset dx="2" dy="2" result="offsetblur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.4"/>
                        </feComponentTransfer>
                        <feMerge> 
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/> 
                        </feMerge>
                    </filter>
                    <g class="cls-1">
                        <path class="cls-3" filter="url(#dropshadow)" d="M248,6.27H13.87A7.42,7.42,0,0,0,6.44,13.7V78.83a7.43,7.43,0,0,0,7.43,7.44H248a7.47,7.47,0,0,0,5.26-2.18l32.56-32.57a7.42,7.42,0,0,0,0-10.51L253.29,8.44A7.47,7.47,0,0,0,248,6.27Z"></path>
                        <text class="cls-4" transform="translate(38.83 62.02)">NEXT CITY</text>
                    </g>
                </svg>
            </div>
            <div class="leaderboard__replay d-none bounce-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 305 104">
                    <defs>
                        <style>.cls-1{isolation:isolate;}.cls-2{opacity:0.75;mix-blend-mode:multiply;}.cls-3{fill:#00b0ea;}.cls-4{font-size:38.38px;fill:#fff;font-family:PermanentMarker-Regular, PermanentMarker Regular;}.cls-5{letter-spacing:0.01em;}.cls-6{letter-spacing:0em;}.cls-7{letter-spacing:0.03em;}</style>
                    </defs>
                    <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow2" height="130%">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
                        <feOffset dx="2" dy="2" result="offsetblur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.4"/>
                        </feComponentTransfer>
                        <feMerge> 
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/> 
                        </feMerge>
                    </filter>
                    <g class="cls-1">
                        <rect class="cls-3" filter="url(#dropshadow2)" style="fill:#1baf57" id="e1_rectangle" width="300" height="79"></rect>
                        <!-- <path class="cls-3" filter="url(#dropshadow2)" d="M248,6.27H13.87A7.42,7.42,0,0,0,6.44,13.7V78.83a7.43,7.43,0,0,0,7.43,7.44H248a7.47,7.47,0,0,0,5.26-2.18l32.56-32.57a7.42,7.42,0,0,0,0-10.51L253.29,8.44A7.47,7.47,0,0,0,248,6.27Z"></path> -->
                        <text class="cls-4" transform="translate(34.83 52.02)">PLAY AGAIN</text>
                    </g>
                </svg>
            </div>
            <div class="leaderboard__continue d-none bounce-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 305 104">
                    <defs>
                        <style>.cls-1{isolation:isolate;}.cls-2{opacity:0.75;mix-blend-mode:multiply;}.cls-3{fill:#00b0ea;}.cls-4{font-size:38.38px;fill:#fff;font-family:PermanentMarker-Regular, PermanentMarker Regular;}.cls-5{letter-spacing:0.01em;}.cls-6{letter-spacing:0em;}.cls-7{letter-spacing:0.03em;}</style>
                    </defs>
                    <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow3" height="130%">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> 
                        <feOffset dx="2" dy="2" result="offsetblur"/>
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.4"/>
                        </feComponentTransfer>
                        <feMerge> 
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/> 
                        </feMerge>
                    </filter>
                    <g class="cls-1">
                        <rect class="cls-3" filter="url(#dropshadow3)" style="fill: #ef0088;" id="e1_rectangle" width="300" height="79"></rect>
                        <!-- <path class="cls-3" filter="url(#dropshadow3)" d="M248,6.27H13.87A7.42,7.42,0,0,0,6.44,13.7V78.83a7.43,7.43,0,0,0,7.43,7.44H248a7.47,7.47,0,0,0,5.26-2.18l32.56-32.57a7.42,7.42,0,0,0,0-10.51L253.29,8.44A7.47,7.47,0,0,0,248,6.27Z"></path> -->
                        <text class="cls-4" transform="translate(48.83 52.02)">CONTINUE</text>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>