
<!-- We need to properly enqueue the stylesheet; this is compiled form the assets/sass -->

<link rel="stylesheet" href="../../assets/css/main.css">

<div class="leaderboard__overlay">
            
    <div class="leaderboard">              
        
        <div class="leaderboard__header"><h1 class="leaderboard__title">Leaderboard</h1><span class="leaderboard___exit">Exit</span></div>                 

        <div class="leaderboard__rankings">

            <!-- we may not include this piece -->
            <!-- <div class="leaderboard__heading">
                <span class="leaderboard__rank">Rank</span>
                <span class="leaderboard__points">Points</h3>
            </div> -->
            
            <div class="leaderboard__player">
                <div class="player">
                    <span class="player__rank player__rank--1">1</span>
                    <h2 class="player__names">Marta + Emma</h2>                    
                    <figure class="player__thumbnail"><img src="player__image"></figure>
                    <span class="player__points">33</span>
                </div>
            </div>

            <div class="leaderboard__player player__tie">
                <div class="player">
                    <span class="player__rank player__rank--2">2</span>
                    <h2 class="player__names">Dominique + Elijah</h2>                    
                    <figure class="player__thumbnail"><img src="player__image"></figure>
                    <span class="player__points"></span>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player">
                    <span class="player__rank player__rank--3">3</span>
                    <h2 class="player__names"></h2>                    
                    <figure class="player__thumbnail"><img src="player__image"></figure>
                    <span class="player__points"></span>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player">
                    <span class="player__rank player__rank--4">4</span>
                    <h2 class="player__names"></h2>                    
                    <figure class="player__thumbnail"><img src="player__image"></figure>
                    <span class="player__points"></span>
                </div>
            </div>

            <div class="leaderboard__player">
                <div class="player">
                    <span class="player__rank player__rank 5">5</span>
                    <h2 class="player__names"></h2>                    
                    <figure class="player__thumbnail"><img src="player__image"></figure>
                    <span class="player__points"></span>
                </div>
            </div>
            
        </div>

        <div class="leaderboard__cities">
            <div class="leaderboard__city">Bangalore</div>
            <div class="leaderboard__city">Kolkata</div>
            <div class="leaderboard__city">New Dehli</div>
            <div class="leaderboard__city">Mumbai</div>
            <div class="leaderboard__next">Next City</div>
        </div>

        <div class="leaderboard__footer"></div>
    </div>
</div>