$white:#fff;
$black: #000;
$grey: #4C4C4C;
$cerulean: #00b0ea;
$mountain-meadow: #1baf57;
$bright-sun: #f9da47;
$tan-hide: #f88a49;
$rose: #ef0088;

$blue: $cerulean;
$green: $mountain-meadow;
$yellow: $bright-sun;
$orange: $tan-hide;
$pink: $rose;

$heading-font: "Ocean Six Condensed";
$primary-font: "Permanent Marker";