* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bounce-2 {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bounce-2:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@font-face {
  font-family: "Ocean Six Condensed";
  src: url("../fonts/Ocean Six Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Permanent Marker";
  src: url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
  font-weight: normal;
  font-style: normal;
}

/*
 * Reset unnecessary plugin styles
 */
#learndash_lessons > div > div, #learndash_quizzes > div > div {
  border: none !important;
}

.background {
  display: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/leaderboard-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.leaderboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 400px;
      grid-template-columns: 1fr 400px;
  -ms-grid-rows: 180px auto;
      grid-template-rows: 180px auto;
      grid-template-areas: 'leaderboard__header leaderboard__header' 'leaderboard__rankings leaderboard__sidebar';
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 0 90px;
  font-family: "Permanent Marker";
}

.leaderboard__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: leaderboard__header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaderboard__title {
  font-family: "Ocean Six Condensed";
  font-size: 95px;
  color: #4C4C4C;
}

.leaderboard__exit {
  font-size: 40px;
  margin-right: 200px;
  color: #4C4C4C;
  cursor: pointer;
}

.leaderboard__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
}

.leaderboard__rankings {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: leaderboard__rankings;
}

.leaderboard__sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: leaderboard__sidebar;
}

.leaderboard__rank {
  font-size: 30px;
  padding: 10px 0;
  color: #4C4C4C;
}

.leaderboard__points {
  font-size: 30px;
  padding: 10px 0;
  color: #4C4C4C;
}

.leaderboard__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leaderboard__cities #lessons_list {
  grid-area: leaderboard__cities;
  display: -ms-grid !important;
  display: grid !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -ms-grid-rows: (60px)[5];
      grid-template-rows: repeat(5, 60px);
  grid-row-gap: 30px;
  margin-top: 64px !important;
}

.leaderboard__city, .leaderboard__city--blue, .leaderboard__city--green, .leaderboard__city--yellow, .leaderboard__city--pink {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px !important;
  height: 60px;
  font-size: 24px !important;
  border: 4px solid !important;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  padding: 9px !important;
}

.leaderboard__city--blue {
  color: #00b0ea !important;
  border-color: #00b0ea !important;
}

.leaderboard__city--blue.checkmark {
  background-color: #00b0ea !important;
  color: #fff !important;
}

.leaderboard__city--green {
  color: #1baf57 !important;
  border-color: #1baf57 !important;
}

.leaderboard__city--green.checkmark {
  background-color: #1baf57 !important;
  color: #fff !important;
}

.leaderboard__city--yellow {
  color: #f9da47 !important;
  border-color: #f9da47 !important;
}

.leaderboard__city--yellow.checkmark {
  background-color: #f9da47 !important;
  color: #fff !important;
}

.leaderboard__city--pink {
  color: #ef0088 !important;
  border-color: #ef0088 !important;
}

.leaderboard__city--pink.checkmark {
  background-color: #ef0088 !important;
  color: #fff !important;
}

.leaderboard .checkmark:before {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -60px;
  width: 30px;
  height: 30px;
  background: url("../img/checkmark.svg") no-repeat;
}

.leaderboard__next, .leaderboard__replay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.leaderboard__next svg, .leaderboard__replay svg {
  width: 300px;
  height: auto;
}

.leaderboard__next path, .leaderboard__replay path {
  -webkit-box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
          box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
}

.leaderboard__next text, .leaderboard__replay text {
  font-family: "Permanent Marker";
}

.leaderboard__footer {
  grid-area: leaderboard__footer;
}

.player {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 85px 170px minmax(200px, 600px) 85px;
      grid-template-columns: 85px 170px minmax(200px, 600px) 85px;
  grid-auto-rows: 85px;
      grid-template-areas: 'player__rank player__thumbnail player__names player__points';
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  font-family: "Permanent Marker";
  margin-bottom: 20px;
}

.player:before {
  content: '';
  position: absolute;
  width: 940px;
  height: 50px;
  background-color: #00b0ea;
  margin-left: 10px;
  z-index: 1;
}

.player__rank {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: player__rank;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 85px;
  font-family: "Ocean Six Condensed";
  font-size: 60px;
  border: 3px solid #fff;
  border-radius: 24px;
  background-color: #00b0ea;
  color: #fff;
  -webkit-box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
          box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
  z-index: 2;
}

.player__thumbnail {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: player__thumbnail;
  width: 170px;
  height: 85px;
  border: 3px solid #fff;
  border-radius: 24px;
  background-color: #fff;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
          box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
  z-index: 2;
}

.player__thumbnail.marta {
  background: #fff url("/wp-content/plugins/learndash-subsriber/assets/img/marta-emma.jpg") no-repeat !important;
  background-position: center center !important;
}

.player__thumbnail.kaleb {
  background: #fff url("/wp-content/plugins/learndash-subsriber/assets/img/kaleb-cherish.jpg") no-repeat !important;
  background-position: center center !important;
}

.player__thumbnail.dominique {
  background: #fff url("/wp-content/plugins/learndash-subsriber/assets/img/dominique-elijah.jpg") no-repeat !important;
  background-position: center center !important;
}

.player__thumbnail.luke {
  background: #fff url("/wp-content/plugins/learndash-subsriber/assets/img/luke-dave.jpg") no-repeat !important;
  background-position: center center !important;
}

.player__thumbnail.player {
  background: #fff url("/wp-content/plugins/learndash-subsriber/assets/img/player-avatar.png") no-repeat !important;
  background-position: center center !important;
}

.player__names {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: player__names;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 37px;
  text-overflow: ellipsis;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
}

.player__points {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: player__points;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 85px;
  font-family: "Ocean Six Condensed";
  font-size: 50px;
  border: 3px solid #fff;
  border-radius: 24px;
  background-color: #00b0ea;
  color: #fff;
  -webkit-box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
          box-shadow: 5.28px 5.28px 3.77px rgba(155, 155, 155, 0.75);
  z-index: 2;
}

.player--blue:before,
.player--blue .player__rank,
.player--blue .player__points {
  background-color: #00b0ea;
}

.player--blue .player__thumbnail {
  border-color: #00b0ea;
}

.player--green:before,
.player--green .player__rank,
.player--green .player__points {
  background-color: #1baf57;
}

.player--green .player__thumbnail {
  border-color: #1baf57;
}

.player--yellow:before,
.player--yellow .player__rank,
.player--yellow .player__points {
  background-color: #f9da47;
}

.player--yellow .player__thumbnail {
  border-color: #f9da47;
}

.player--orange:before,
.player--orange .player__rank,
.player--orange .player__points {
  background-color: #f88a49;
}

.player--orange .player__thumbnail {
  border-color: #f88a49;
}

.player--pink:before,
.player--pink .player__rank,
.player--pink .player__points {
  background-color: #ef0088;
}

.player--pink .player__thumbnail {
  border-color: #ef0088;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.content {
  padding: 20px;
  color: grey;
}

.d-none {
  display: none;
}

.popup {
  margin: 2% auto;
  padding: 20px;
  background: #fff;
  width: 90%;
  position: relative;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  color: black;
  display: block;
  overflow-y: auto;
  height: 90%;
  border-radius: 25px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
